# IMPORTANT: if modifying this, also modify the .env.example if needed

# used by django
DATABASE_URL=psql://djangouser:defaultpassword@db:5432/transandance
# used by the docker compose
# WARNING: must match DATABASE_URL
POSTGRES_USER=djangouser
POSTGRES_PASSWORD=defaultpassword
POSTGRES_DB=transandance
