 @import "tailwindcss";

@theme {

  --breakpoint-xs: 24rem;
  --color-pink-pastel-50:   #fff5f7;
  --color-pink-pastel-75:   #fff0f4;
  --color-pink-pastel-100:  #ffe4e9; 
  --color-pink-pastel-200:  #ffc9d4;
  --color-pink-pastel-300:  #ff99ac;
  --color-pink-pastel-400:  #ff6b88;
  --color-pink-pastel-500:  #f0506e;
  --color-pink-pastel-600:  #d43d5a;
  --color-pink-pastel-700:  #b13149;
  --color-pink-pastel-800:  #8f293c;
  --color-pink-pastel-900:  #6b2d39;

  --color-lavender-pastel-50:  #f5f0ff;
  --color-lavender-pastel-100: #ede6ff;
  --color-lavender-pastel-200: #d9ccff;
  --color-lavender-pastel-300: #b2a1ff;  /* base */
  --color-lavender-pastel-400: #a87de0;  /* pivot adouci */
  --color-lavender-pastel-500: #8a5cc4;
  --color-lavender-pastel-600: #6e42a6;
  --color-lavender-pastel-700: #562d8a;
  --color-lavender-pastel-800: #3f1f6e;
  --color-lavender-pastel-900: #2a1249;

    /* Noirs profonds (L'Obsidienne) */
  --color-obsidian-50:  #f2f2f2;
  --color-obsidian-100: #e5e5e5;
  --color-obsidian-200: #cccccc;
  --color-obsidian-300: #b3b3b3;
  --color-obsidian-400: #808080;
  --color-obsidian-500: #4d4d4d;
  --color-obsidian-600: #333333;
  --color-obsidian-700: #262626;
  --color-obsidian-750: #202020;
  --color-obsidian-800: #1a1a1a;
  --color-obsidian-900: #121212;
  --color-obsidian-950: #0a0a0a;

  --color-crimson-50:  #fff1f1;
  --color-crimson-100: #ffdfdf;
  --color-crimson-200: #ffc5c5;
  --color-crimson-300: #ff9d9d;
  --color-crimson-400: #ff6666;
  --color-crimson-500: #ff1a1a;
  --color-crimson-600: #e60000;
  --color-crimson-700: #b30000;
  --color-crimson-800: #800000;
  --color-crimson-900: #4d0000;
  --color-crimson-950: #3e0000;

  --color-steel-300: #d1d5db;
  --color-steel-500: #6b7280;

  --color-bg-main:          var(--color-pink-pastel-50);
  --color-bg-card:          #ffffff;
  --color-borders-outline:  var(--color-pink-pastel-100);

  /* Sidebar */
  --color-sidebar:          var(--color-lavender-pastel-100);
  --color-sidebar-border:   var(--color-lavender-pastel-200);
  --color-sidebar-text-1:   var(--color-lavender-pastel-400);
  --color-sidebar-text-2:   var(--color-pink-pastel-400);
  --color-sidebar-footer:    var(--color-sidebar-text-1);

  --color-button-sidebar-1-normal:  var(--color-sidebar);
  --color-button-sidebar-1-hover:   var(--color-lavender-pastel-200);
  --color-button-sidebar-1-active:  var(--color-lavender-pastel-300);
  --color-button-sidebar-2-normal:  var(--color-lavender-pastel-200);
  --color-button-sidebar-2-hover:   var(--color-lavender-pastel-300);
  --color-button-sidebar-2-active:  var(--color-lavender-pastel-400);

  /* Navbar */
  --color-navbar:           var(--color-pink-100);
  --color-navbar-border:    var(--color-pink-200);
  --color-navbar-text:      var(--color-pink-pastel-900);
  --color-navbar-menu:      var(--color-lavender-pastel-300);
  --color-exit-cross:       var(--color-black);

  --color-navbar-profile-outline: var(--color-lavender-pastel-200);

  /* Profile Dialog */
  --color-profile:          var(--color-pink-pastel-75);
  
  /* text */
  --color-text-main:        var(--color-pink-pastel-900);
  --color-title:            var(--color-lavender-pastel-300);
  --color-placeholder:      var(--color-pink-pastel-200);
  --color-text-button-1 :   var(--color-pink-pastel-50);
  --color-text-button-2 :   var(--color-pink-pastel-900);
  
  /* Buton 1 */
  --color-button-1-normal:  var(--color-pink-pastel-300);
  --color-button-1-hover:   var(--color-pink-pastel-400);
  --color-button-1-active:  var(--color-pink-pastel-500);
  --color-button-1-disable: var(--color-pink-pastel-100);

  /* Buton 2 */
  --color-button-2-normal:  var(--color-lavender-pastel-200);
  --color-button-2-hover:   var(--color-lavender-pastel-300);
  --color-button-2-active:  var(--color-lavender-pastel-200);
  --color-button-2-disable: var(--color-lavender-pastel-50);


  --color-theme-button:           var(--color-lavender-pastel-200);
  --color-theme-button-shadow:    var(--color-lavender-pastel-900);
  --color-theme-button-border:    var(--color-lavender-pastel-900);
  --color-theme-cursor:           var(--color-white);
  --color-theme-cursor-border:    var(--color-lavender-pastel-50);
  --color-theme-cursor-shadow:    rgba(60, 50, 96, 0.2);
  

  --color-input-text:       var(--color-lavender-pastel-500);
  --color-input-bg:         var(--color-pink-pastel-100);
  --color-input-bg-active:  var(--color-pink-pastel-200);

}

[data-theme="dark"] {
  /* Base */
  --color-bg-main:          var(--color-obsidian-750);
  --color-bg-card:          var(--color-obsidian-900);
  --color-borders-outline:  var(--color-crimson-900);

  /* Sidebar */
  --color-sidebar:                  var(--color-obsidian-950);
  --color-sidebar-border:           var(--color-crimson-900);
  --color-sidebar-text-1:           var(--color-crimson-700);
  --color-sidebar-text-2:           var(--color-obsidian-300);
  --color-sidebar-footer:           var(--color-sidebar-text-2);
  --color-button-sidebar-1-normal:  var(--color-obsidian-900);
  --color-button-sidebar-1-hover:   var(--color-obsidian-800);
  --color-button-sidebar-1-active:  var(--color-obsidian-700);
  --color-button-sidebar-2-normal:  var(--color-obsidian-800);
  --color-button-sidebar-2-hover:   var(--color-obsidian-700);
  --color-button-sidebar-2-active:  var(--color-obsidian-600);

  /* Navbar */
  --color-navbar:           rgba(18, 18, 18, 0.9);
  --color-navbar-border:    var(--color-obsidian-800);
  --color-navbar-text:      var(--color-obsidian-50);
  --color-navbar-menu:      var(--color-crimson-700);
  --color-exit-cross:       var(--color-obsidian-200);

  --color-navbar-profile-outline: var(--color-obsidian-700);

  --color-profile:          var(--color-obsidian-950);

  /* Texte */
  --color-text-main:        var(--color-steel-300);
  --color-title:            var(--color-crimson-500);
  --color-placeholder:      var(--color-steel-500);
  --color-text-button-1:    var(--color-obsidian-50);
  --color-text-button-2:    var(--color-obsidian-200);

  /* Bouton 1 */
  --color-button-1-normal:  var(--color-crimson-800);
  --color-button-1-hover:   var(--color-crimson-500);
  --color-button-1-active:  var(--color-crimson-700);
  --color-button-1-disable: var(--color-crimson-900);

  /* Bouton 2 */
  --color-button-2-normal:  var(--color-obsidian-700);
  --color-button-2-hover:   var(--color-obsidian-600);
  --color-button-2-active:  var(--color-obsidian-950);
  --color-button-2-disable: var(--color-obsidian-950);

  /* Theme toggle */
  --color-theme-button:         var(--color-obsidian-500);
  --color-theme-button-shadow:  var(--color-obsidian-900);
  --color-theme-button-border:  var(--color-obsidian-800);
  --color-theme-cursor:         var(--color-obsidian-600);
  --color-theme-cursor-border:  var(--color-obsidian-700);
  --color-theme-cursor-shadow:  var(--color-crimson-600);

  --color-input-text:           var(--color-obsidian-500);
  --color-input-bg:             var(--color-obsidian-800);
  --color-input-bg-active:      var(--color-obsidian-800);
}

body {
  @apply bg-bg-main pt-20
}
.flex-center {
  @apply flex justify-center items-center
}
.fscreen {
  @apply h-[calc(100dvh-5rem)] w-dvw
}