{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }} - Modify information</title>
    <link rel="icon" href="{% static 'back/favicon.ico' %}">
</head>

<body>
    <h2>{{ user.username }} - Modify information</h2>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Update</button>
    </form>
    <p><a href="/accounts/profile">Back to my profile</a></p>
</body>

</html>